## Visualization Demonstration

### Set up environment
Call in libraries we will use this semester

In [2]:
from datascience import *

#### Create table using survey dataset from GitHub

In [7]:
survey = Table.read_table('Survey_F24.csv')
survey.show(3)